.animated { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-out; 
   animation-timing-function: ease-out; 
} 

.rayoAmarillo { 
   -webkit-animation:cambioColoresAmarillo 2s; /* Chrome, Safari, Opera */
   -webkit-animation-name: cambioColoresAmarillo; 
   animation-name: cambioColoresAmarillo; 
} 

@-webkit-keyframes cambioColoresAmarillo { 
   0%, 20%, 40%, 60%, 80%, 99% { 
       -webkit-fill: #FFCF48;
       -webkit-stroke: #000000;
   } 
   10%, 30%, 50%, 70%, 90% { 
       -webkit-fill: #C83759;
       -webkit-stroke: #000000;
   } 
   100% { 
       -webkit-fill: #FFFFFF;
       -webkit-stroke: #FFFFFF;
   } 
} 
@keyframes cambioColoresAmarillo { 
   0%, 20%, 40%, 60%, 80%, 99% { 
       fill: #FFCF48;
       stroke: #000000;
   } 
   10%, 30%, 50%, 70%, 90% { 
       fill: #C83759;
       stroke: #000000;
   }
   100% { 
       fill: #FFFFFF;
       stroke: #FFFFFF;
   } 
} 

.rayoRojo { 
   -webkit-animation:cambioColoresRojo 2s; /* Chrome, Safari, Opera */
   -webkit-animation-name: cambioColoresRojo; 
   animation-name: cambioColoresRojo; 
} 

@-webkit-keyframes cambioColoresRojo { 
   0%, 20%, 40%, 60%, 80%, 99% { 
       -webkit-fill: #C83759;
       -webkit-stroke: #000000;
   } 
   10%, 30%, 50%, 70%, 90% { 
       -webkit-fill: #FFCF48;
       -webkit-stroke: #000000;
   } 
   100% { 
       -webkit-fill: #FFFFFF;
       -webkit-stroke: #FFFFFF;
   } 
} 
@keyframes cambioColoresRojo { 
   0%, 20%, 40%, 60%, 80%, 99% { 
       fill: #C83759;
       stroke: #000000;
   } 
   10%, 30%, 50%, 70%, 90% { 
       fill: #FFCF48;
       stroke: #000000;
   } 
   100% { 
       fill: #FFFFFF;
       stroke: #FFFFFF;
   } 
} 